doctype html
html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="custom.js")
	body
		form(name='add-name', method='post')
			div.input
				span.label First Name
				input(type='text', name='firstname')
			div.input
				span.label Last Name
				input(type='text', name='lastname')
			div.input
				span.label Email
				input(type='text', name='email')
			div.actions
				input(type='submit', value='add')
		p
			a(href='/') Home
			br
			a(href='/addnew') Add New
			br
			a(href='/form') Search