doctype html
html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="custom.js")
	body
		form(name='search-name', method='post', action='/results')
			div.input
				span.label Name
				input#name(type='text', name='name')
			div.actions
				input(type='submit', value='search')
		ul#results
		p
			a(href='/') Home
			br
			a(href='/addnew') Add New
			br
			a(href='/form') Search